@import 'compass/css3';
@import 'compass/utilities';
@import 'compass/layout';

header{
	position: relative;
	color:#fff;
	text-align: center;
	height:430px;
	@media #{$large-up} {
		height:600px;		
	}

	.title{
		position: relative;
		z-index: 100;
		padding-top: rem-calc(70);
		h1.eng{
			color:#fff;
			font-size: rem-calc(25);
			font-weight: 300;
			font-family: $str-font;

			@media #{$medium-up} {
				font-size: rem-calc(34);	
			}
			@media #{$large-up} {
				font-size: rem-calc(44);	
			}

			span{
				color:$orange;
				
			}
		}
		h1{
			color:#fff;
			font-weight: 600;

			@media #{$medium-up} {
				font-size: rem-calc(56);	
			}
			@media #{$large-up} {
				font-size: rem-calc(72);
			}
		}
		
	}

	.bg-hero{
		position: absolute;
		width:100%;
		height: 430px;
		background-image: url("../img/hero-unit.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;

		@media #{$large-up} { 
			background-attachment: fixed;
			height: 600px;
		}
	}
	
	.subheading{
		position: relative;
		z-index: 100;
		@media #{$large-up}{
			padding-top:rem-calc(40);
		}
		font-weight: 300;
		h2{
			// color:scale-color($green,$lightness: 70%, $saturation: 40%, $alpha: 60%);
			color: rgb(211,211,211);
			font-weight: 300;
			font-size: rem-calc(20);

			@media #{$large-up} { 
				font-size: rem-calc(30);
			}
		}	
	}
}



nav{
	position: absolute;
	z-index: 200;
	width: 100%;
	text-align: center;
	height: 50px;
	margin-top: -50px;
	background: rgba(49,49,49,.2);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.is-sticky nav{
	margin-top: 0px;
	background: rgba(49,49,49,.95);
}


.sub-nav{
	display: inline-block;
	line-height: 50px;
	.active a{
		 border: $sub-nav-border-size $sub-nav-border-color solid;
		 border-radius: $sub-nav-border-radius;
	}
	
}

section{
	padding:30px 0 120px;
}

.section-title{
	text-align: center;
	padding: 60px 0 80px;
	font-family: $str-font;
	font-weight: 700;
	text-transform: uppercase;
	@media #{$medium-up} {
		font-size: rem-calc(48);	
	}
	@media #{$large-up} {
		font-size: rem-calc(60);
	}
}

//---- section bg set----
#belief{
	background:#fff;
}

#course{
	background: $blue;
	color:#fff;	
	h2{
	color:#eee;	
	}
}

#g0v{
	color:#fff;
	padding: 0;
	h2{
		color:#eee;	
	}
	.bg-fire{
		background-image: url("../img/fire.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 60px 0 80px;
	}
}

#join{
	background:url('../img/connect.png');
}
//---- section bg end---


//----- icon list -------
$icon-size:64px;
$line-width: 2px;

.icon-list-container ul{
	list-style: none;
}
.path-icon-list{
	li{
		position: relative;
		min-height: 60px;
		padding: 0 0 30px 0;
	}
}
.list-wrapper{
	overflow: hidden;
	h4{
		font-weight: 600;
		margin-bottom: 4px;
		color:#fff;
	}
	p{
		color: lighten($blue,28%);
	}
}


.test{
	li{
		min-height: 100px;
		border: 3px grey solid;
	}
}

.icon-circle{
	height: $icon-size;
	width: $icon-size;
	line-height: $icon-size;
	font-size: rem-calc(30);
	text-align: center;
	position: relative;
	float: left;
	margin-right: rem-calc($icon-size/2 - $line-width);
	margin-left: rem-calc($line-width);
	z-index: 5;
	border-radius: 50%;
	background: lighten( $orange,10% );

}

.timeline{
	position: absolute;
	top: 1%;
	left: $icon-size/2;
	width: 1px;
	height: 99%;
	border-right-width: $line-width;
	border-right-style: dashed;
}

//----- icon list end-------

.chart{
	position: relative;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
	
	.chart-content-wrapper{
		position: absolute;
		left: 50%;
		top: 50%;

	}
	.chart-inner-wrapper{
		position: relative;
		left: -50%;
		margin-top: -25%;

	}
	i{
		display: block;
		font-size: 40px;
		margin-top: -30px;
		margin-bottom: 8px;
		color: rgb(124, 124, 124);
	}
	.chart-number{
		font-size: 24px;
		display: block;
		color: darken(#a9e16e,20%);
	}
}
.chart-description{
	text-align: left;
}

.chart-title{
	// text-align: center;
	// h2{
	// 	text-align: center;
	// }
}

.parallax-wrapper{
	position: relative;
	// overflow: hidden;
	background-repeat: repeat;
}

$button-movement: 2px;

// ::after pseudo-element covering the button making sure the click event fires,
// even if the button moves around.
%click-button-hack {
  &:after {
    // border: 1px solid red;
    // background: rgba(green, .5);
    content: '';
    @include stretch;
  }

  &:active:after {
	  top: $button-movement * -1;
  }
}

.button-primary{
	@extend %click-button-hack;
	display: inline-block;
	text-align: center;
	font-weight: bold !important;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0 1px 0px rgba(0,0,0,0.15);
	border-width: 1px 1px 1px+$button-movement;
	border-style: solid;
	border-color: darken($primary-color, 10%);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	@include border-radius(5px);
	@include box-shadow(0 -1px 0 rgba(#fff, .1) inset);
	@include transform(translate3d(0, 0, 0));
	@include transition(border-width .2s, background-color .2s, transform .2s);

	&:active{
		border-bottom-width: 1px;
		@include transform(translate3d(0, $button-movement, 0));
	}
}