doctype html
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 102-2 台大資工網路及平台服務程式設計 :: NTU CCSP 2014 Spring
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.png")
    link(rel="canonical", href="http://ccsp.ntumobile.org")
    link(rel="stylesheet", href="fonts/foundation-icons/foundation-icons.css")
    link(rel="stylesheet", href="/application.css")
    meta(property="fb:app_id", content="749366138415536")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://ccsp.ntumobile.org")
    meta(property="og:title", content="102-2 台大資工網路及平台服務程式設計 / NTU CCSP 2014 Spring")
    meta(property="og:description", content="在這門課中，我們教你從零開始打造一個屬於自己的網路服務，實現你的點子。我們想讓你重新找回改變世界的能力－Code for Your Dream！")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/logo_1024.png")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/hero-unit.jpg")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/fire.jpg")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/project.jpg")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/class.jpg")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-19512059-6', 'ntumobile.org');
      ga('send', 'pageview');
  body#ccsp(itemscope="", itemtype="http://schema.org/WebPage")
    meta(itemprop="typicalAgeRange", content="19-23")
    meta(itemprop="interactivityType", content="active")
    meta(itemprop="timeRequired", content="P5M")
    meta(itemprop="learningResourceType", content="course")
    meta(itemprop="intendedEndUserRole", content="student")
    meta(itemprop="thumbnailUrl", content="http://ccsp.ntumobile.org/img/logo_1024.png")
    nav
      ul.small-menu.clearfix
        li.small-title.left
          h2 CCSP
        li.menu-icon.right
          a(href="")
            i.fi-list
      ul.sub-nav
        li(data-scroll-nav="0")
          a(href="#belief") Slides
        li(data-scroll-nav="1")
          a(href="#course") Extended Reading
        li(data-scroll-nav="2")
          a(href="#grade") TA Hours
    section#syllabus(data-scroll-index="0")
      .section-wrapper
        .row
          .large-12.small-centered.column
            h2.section-title Slides
        .row
          .small-12.small-centered.columns
            table(style="margin: auto;")
              thead
                tr
                  th(width="100") Date
                  th(width="200") Title
                  th(width="400") Description
                  th(width="200") Link
                  th(width="200") Homework
              tbody
                tr
                  td 02/27
                  td HTML, CSS
                  td HTML tags, syntax, document structure. CSS basics.
                  td
                    a(href="//ccsp.ntumobile.org/webdev/html.html" target="_blank") Link
                  td
                tr
                  td 03/06
                  td CSS, g0v Intro
                  td Selectors, specificity, box model, positioning. Introduction to g0v by Kirby Wu.
                  td
                    a(href="//ccsp.ntumobile.org/webdev/css.html" target="_blank") Link
                  td #HW1
                tr
                  td 03/13
                  td Design Thinking
                  td Gaining insight into all possible directions for improving our society using websites.
                  td
                  td
                tr
                  td 03/20
                  td Idea Pitching, JS & DOM
                  td 1 minutes for everyone to express her/his own interested topic. Javascript syntax, data types, control strucutres, scopes and references.
                  td
                  td Final project teams formed in this week.
                tr
                  td 03/27
                  td JS & jQuery
                  td Manipulating DOM with javascript and jQuery.
                  td
                  td #HW2
                tr
                  td 04/03
                  td 溫書假
                  td
                  td
                  td
                tr
                  td 04/10
                  td HTTP, Ajax, Q. Proposal Presentation (I)
                  td Fetching remote data and understanding asynchronous control flow.
                  td
                  td
                tr
                  td 04/17
                  td Node.js, ExpressJS. Proposal Presentation (II)
                  td Introduction to server-side javascript and the Express web framework.
                  td
                  td #HW3
                tr
                  td 04/24
                  td Data Parsing, Data Visualization
                  td Introduction to data parsing and visualization by g0v lecturers.
                  td
                  td #HW4
                tr
                  td 05/01
                  td Git, Bootstrap
                  td Git version control system and Twitter Bootstrap front-end framework.
                  td
                  td
                tr
                  td 05/08
                  td MongoDB, Mongoose
                  td NoSQL database and the Mongoose ORM form MongoDB.
                  td
                  td #HW5, Hackathon on 5/8.
                tr
                  td 05/15
                  td Heroku, MongoLab, Github Pages
                  td Deploying an app to production server on Heroku, and use MongoLab as the database service provider. Github pages, on the other hand, is a great place to host static websites.
                  td
                  td #HW6
                tr
                  td 05/22
                  td Sass, Compass, gulpjs, Bower
                  td CSS Preprocessor Sass, its library Compass, and other automation tools.
                  td
                  td
                tr
                  td 05/29
                  td GA, Web Security. User Testing.
                  td How to use Google Analytics and some notes about web security. Students will test websites and give feedback to other teams from users' perspective.
                  td
                  td
                tr
                  td 06/05
                  td Final Project Demo
                  td
                  td
                  td
    section#extend(data-scroll-index="1")
      .section-wrapper
        .row
          .large-12.small-centered.column
            h2.section-title Extended Reading
        .row
          .small-12.small-centered.columns
            table
              thead
                tr
                  td(width="800") Title
                  td(width="200") Link
              tbody
                tr
                  td Coming Soon
                  td Coming Soon
    section#ta(data-scroll-index="2")
      .section-wrapper
        .row
          .large-12.small-centered.column
            h2.section-title TA hours
        .row
          .small-12.small-centered.large-3.large-uncentered.columns
            h3 梁翔勝
            address NTU CSIE Mobile HCI Lab (R430)
            p TA hours: Wed. 14:30 ~ 17:00
          .small-12.small-centered.large-3.large-uncentered.columns
            h3 李柏緯
            address NTU CSIE Mobile HCI Lab (R430)
            p TA hours: Wed. 13:00 ~ 15:30
          .small-12.small-centered.large-3.large-uncentered.columns
            h3 陳昱圻
            address NTU CSIE Mobile HCI Lab (R430)
            p TA hours: Fri. 10:00 ~ 12:00
          .small-12.small-centered.large-3.large-uncentered.columns
            h3 郭瀚智
            address NTU IM CM Lab (管一 503C)
            p TA hours: Mon. 12:00 ~ 14:00
    footer
      .row
        .small-11.small-centered.column.text-center
          h5 Contact Us
          a.email(href="mailto:ntuccsp@gmail.com") ntuccsp@gmail.com
      .row
        .small-12.small-centered.column.text-center
          hr
          p.copyright Copyright © 2014 CCSP, NTU Mobile HCI Lab
          p.creator
            | Web developed and designed by
            a(href="https://www.facebook.com/lucien.leee") Lucien Lee
            | , optimized and Logo designed by
            a(href="http://mrorz.github.io/")  Johnson
    script(src="/common.js")
    script(src="/syllabus.js")
