doctype html
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NTU 雲端學程網路及平台服務程式設計暨大學部專題研究期末成果展
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.png")
    link(rel="canonical", href="http://ccsp.ntumobile.org")
    link(rel="stylesheet", href="fonts/foundation-icons/foundation-icons.css")
    link(rel="stylesheet", href="/application.css")
    meta(property="fb:app_id", content="749366138415536")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://ccsp.ntumobile.org")
    meta(property="og:title", content="NTU 雲端學程網路及平台服務程式設計暨大學部專題研究期末成果展")
    meta(property="og:description", content="在這門課中，我們教你從零開始打造一個屬於自己的網路服務，實現你的點子。我們想讓你重新找回改變世界的能力－Code for Your Dream！")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/logo_1024.png")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/hero-unit.jpg")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/fire.jpg")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/project.jpg")
    meta(property="og:image", content="http://ccsp.ntumobile.org/img/class.jpg")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-19512059-6', 'ntumobile.org');
      ga('send', 'pageview');
  body#ccsp
    //- nav
    //-   ul.small-menu.clearfix
    //-     li.small-title.left
    //-       h2 CCSP
    //-     li.menu-icon.right
    //-       a(href="")
    //-         i.fi-list
    //-   ul.sub-nav
    //-     li(data-scroll-nav="0")
    //-       a(href="#belief") Slides
    //-     li(data-scroll-nav="1")
    //-       a(href="#course") Extended Reading
    //-     li(data-scroll-nav="2")
    //-       a(href="#grade") TA Hours
    header
      h1 lalalla
    section#expo
      .row: .small-12.column: ul.large-block-grid-5.medium-block-grid-3
        each val in new Array(25)
          li
            a(href='#我食故我在')
              img.logo(src="http://placekitten.com/400/400")
              h1 我食故我在

            ul.inline-list
              li.web: a(href="http://google.com")
                i.fi-web
                |  網站
              li.github: a(href="http://github.com")
                i.fi-social-github
                |  NTU-CCSP/CCSP

            p.desc 所以我們才會將所得稅的稅率從6%降至5%；13%降至12%；21%降至20%，地方政府大概是負責三分之一，我們很實際，這是經濟委員會對經濟部的要求。想得比天地還要重，被誰給偷走，不是，好想你我好想你，每一天，我不怕千萬人阻擋

    div.medium.reveal-modal(id="modal-我食故我在" data-reveal)
      a.close-reveal-modal &#215;
      .row
        .large-4.column
          img.logo(src="http://placekitten.com/400/400")
        .large-8.column
          h1 我食故我在
          ul.inline-list
            li.web: a(href="http://google.com")
              i.fi-web
              |  網站
            li.github: a(href="http://github.com")
              i.fi-social-github
              |  NTU-CCSP/CCSP
          p.desc 所以我們才會將所得稅的稅率從6%降至5%；13%降至12%；21%降至20%，地方政府大概是負責三分之一，我們很實際，這是經濟委員會對經濟部的要求。想得比天地還要重，被誰給偷走，不是，好想你我好想你，每一天，我不怕千萬人阻擋

    script(src="/common.js")
    script(src="/expo.js")